<!-- views/editTeamMembers.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Team Member</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: rgb(229, 229, 229);
        margin: 0;
        padding: 20px;
        color: white;
      }

      h1 {
        color: #ff5555;
        text-align: center;
        margin-bottom: 20px;
      }

      form {
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        max-width: 400px;
        margin: 0 auto;
      }

      label {
        display: block;
        margin-bottom: 8px;
        color: #ff5555;
      }

      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;
        border: 1px solid #ff5555;
        border-radius: 4px;
        background-color: rgb(229, 229, 229);
        color: black;
      }

      button {
        background-color: #ff5555;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
      }

      button:hover {
        background-color: #ff3333;
      }
    </style>
  </head>
  <body>
    <h1>Edit Team Member</h1>
    <form action="/team_members/update/<%= teamMember.id %>" method="post">
      <label for="first_name">First Name:</label>
      <input
        type="text"
        name="first_name"
        value="<%= teamMember.first_name || '' %>"
        required
      />

      <label for="last_name">Last Name:</label>
      <input
        type="text"
        name="last_name"
        value="<%= teamMember.last_name || '' %>"
        required
      />

      <label for="photoUrl">Photo URL:</label>
      <input
        type="text"
        name="photoUrl"
        value="<%= teamMember.photoUrl || '' %>"
      />

      <label for="date_of_joining">Date of Joining:</label>
      <input
        type="date"
        name="date_of_joining"
        value="<%= teamMember.date_of_joining %>"
        required
      />

      <label for="role">Role:</label>
      <input
        type="text"
        name="role"
        value="<%= teamMember.role || '' %>"
        required
      />

      <label for="email">Email:</label>
      <input
        type="email"
        name="email"
        value="<%= teamMember.email || '' %>"
        required
      />

      <label for="phone_number">Phone Number:</label>
      <input
        type="number"
        name="phone_number"
        value="<%= teamMember.phone_number %>"
        required
      />

      <button type="submit">Update Team Member</button>
      <button style="margin-top: 10px; background-color: #777777">
        <a href="/team_members" style="text-decoration: none; color: white"
          >Go back</a
        >
      </button>
    </form>
  </body>
</html>
